* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body {
    background-size: cover;
    background-color: black;
}

p {
    font-size: 25px;
}

.text {
    width: 100%;
    height: 100px;
    text-align: center;
}

.leon {
    color: rgb(153, 147, 147);
}

.downloadcv {
    width: 300px;
    height: 100px;
    background-color: rgb(31, 30, 30);
    text-align: center;
    border-radius: 20px;
    padding: 10px;
}

.learnmore {
    width: 300px;
    height: 100px;
    background-color: rgb(31, 30, 30);
    text-align: center;
    border-radius: 20px;
    padding: 10px;
}

.header {
    background-color: rgba(48, 45, 45, 0.473);
    width: 100%;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    transition: 1s;
    border: black solid 2px;
    position: absolute;
    position: fixed;
    padding: 15px;
    z-index: 1000;
}

.header:hover {
    height: 175px;
    transition: 1s;
}


.page {
    text-decoration: none;
    color: black;
    transition: 55ms;
}

.page1 {
    text-decoration: none;
    color: black;
    transition: 55ms;
}

.page:hover {
    color: white;
    font-size: 20px;
    transition: 55ms;
}

.arrow {
    width: auto;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.container {
    width: auto;
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer {
    width: auto;
    height: 80px;
    background-color: rgba(75, 71, 71, 0.726);
    color: black;
    justify-content: space-evenly;
    display: flex;
    font-size: 20px;
    flex-wrap: wrap;
    border-top: black solid 2px;
    font-family: "Kanit", sans-serif;
    font-family: "Macondo", cursive;
}

.footerimg {
    width: 30px;
    height: 30px;
    margin-top: 10px;
}

.footerinfo {
    width: 300px;
    height: 70px;
    text-align: center;
}

.cont {
    width: 50%;
    height: 700px;
    background-color: rgba(49, 48, 48, 0.89);
    margin-top: 100px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    border-radius: 25px;
    box-shadow: 5px 5px 5px 5px black;
    flex-wrap: wrap;
    font-family: 'Koulen', cursive;
    font-family: 'Roboto Slab', serif;
}

.pfp {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin-top: 15px;
    border: 5px solid black;
}


@media only screen and (max-width: 400px) {
    .header {
        height: 100px;
        font-size: 10px;
    }

    .page1 {
        display: none;
    }

    .page {
        text-decoration: none;
        color: black;
        transition: 55ms;
    }

    /* .page:hover {
        color: white;
        font-size: 15px;
        transition: 55ms;
    } */

    .cv {
        width: 75px;
        height: 75px;
    }

    body {
        background-image: fill;
    }

    .footer {
        height: 250px;
    }

    .container {
        height: auto;
    }

    .cont {
        margin-bottom: 75px;
        width: 100%;
        border-radius: 0;
        height: 950px;
    }

    .pfp {
        width: 100%;
        height: 350px;
    }

    .text {
        margin-bottom: 130px;
    }
}

.slideshow {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.slideshow-item {
    width: inherit;
    height: inherit;
    position: absolute;
    opacity: 0;
    animation: cycleImages 60s infinite;
}


.slideshow-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: zoom 40s infinite;
}

.slideshow-item:nth-child(1),
.slideshow-item:nth-child(1) img {
    animation-delay: 0s;
}

.slideshow-item:nth-child(2),
.slideshow-item:nth-child(2) img {
    animation-delay: 20s;
}

.slideshow-item:nth-child(3),
.slideshow-item:nth-child(3) img {
    animation-delay: 40s;
}

.slideshow-item-text {
    max-width: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, .8);
    color: white;
    padding: 10rem 5rem;
}

.slideshow-item-text h5 {
    font-size: 5rem;
    font-family: "Kanit", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 2.5rem;
}

.slideshow-item-text p {
    font-size: 1.6rem;
    font-family: "Kanit", sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
}

@keyframes cycleImages {
    25% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }
}

@keyframes zoom {
    100% {
        transform: scale(1.3);
    }
}

@media screen and (max-width: 1000px) {
    .slideshow-item-text {
        max-width: 70%;
        padding: 5rem 1rem;
    }

    .slideshow-item-text h5 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 767px) {
    .slideshow-item-text {
        max-width: 100%;
        padding: 2rem;
        top: initial;
        bottom: 0;
        transform: initial;
    }

    .slideshow-item-text h5 {
        font-size: 3rem;
    }

    .slideshow-item-text p {
        font-size: 1.4rem;
    }

}

/* h5 {
    font-size: 5rem;
    font-family: "Kanit", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 2.5rem;
} */