* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
    font-family: "Macondo", cursive;

}

body {
    background-size: cover;
    background-color: rgb(119, 115, 115);
}

.header {
    background-color: rgba(48, 45, 45, 0.473);
    width: 100%;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    transition: 1s;
    border: black solid 2px;
    position: absolute;
    position: fixed;
}

.header:hover {
    height: 175px;
    transition: 1s;
    box-shadow: inset 0 -175px 0 0 rgb(73, 69, 69);
}


.page {
    text-decoration: none;
    color: black;
    transition: 55ms;
}

.page:hover {
    color: white;
    font-size: 20px;
    transition: 55ms;
}

.arrow {
    width: auto;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.container {
    width: auto;
    height: 930px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer {
    width: auto;
    height: 80px;
    background-color: rgb(75, 71, 71);
    color: black;
    justify-content: space-evenly;
    display: flex;
    font-size: 20px;
    flex-wrap: wrap;
    border-top: black solid 2px;
}

.footerimg {
    width: 30px;
    height: 30px;
    margin-top: 10px;
}

.footerinfo {
    width: 300px;
    height: 70px;
    text-align: center;
}

.cont {
    width: 700px;
    height: 700px;
    background-color: rgb(49, 48, 48);
    margin-top: 150px;
}

.pfp {
    width: 400px;
    height: 400px;
}


@media only screen and (max-width: 400px) {
    .header {
        height: 115px;
        font-size: 10px;
    }

    .header1 {
        width: 200px;
    }

    .page {
        text-decoration: none;
        color: black;
        transition: 55ms;
    }

    /* .page:hover {
        color: white;
        font-size: 15px;
        transition: 55ms;
    } */

    .cv {
        width: 75px;
        height: 75px;
    }

    .header1 {
        width: 200px;
    }

    body {
        background-image: fill;
    }

    .footer {
        height: 250px;
    }

    .container {
        height: auto;
    }

    .cont {
        margin-bottom: 75px;
    }
}


/* @keyframes bounce {

    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }

    40% {
        -webkit-transform: translateY(-30px);
    }

}

span {
    position: absolute;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

span:hover {
    cursor: pointer;
    animation-name: bounce;
    -moz-animation-name: bounce;
} */