* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-size: cover;
  background-image: url(/images/backround.jpg); */
}

p {
  font-size: 25px;
}

.leon {
  color: rgb(153, 147, 147);
}

.downloadcv {
  width: 300px;
  height: 100px;
  background-color: rgb(31, 30, 30);
  text-align: center;
  border-radius: 20px;
  padding: 10px;
}

.learnmore {
  width: 300px;
  height: 100px;
  background-color: rgb(31, 30, 30);
  text-align: center;
  border-radius: 20px;
  padding: 10px;
}

.header {
  background-color: rgba(48, 45, 45, 0.473);
  width: 100%;
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  transition: 1s;
  position: absolute;
  position: fixed;
  padding: 15px;
  z-index: 1000;
}

.header:hover {
  height: 175px;
  transition: 1s;
  background-color: white;
}

h2 {
  text-decoration: none;
  color: black;
}

.page {
  text-decoration: none;
  color: black;
  transition: 55ms;
}

.page1 {
  text-decoration: none;
  color: black;
  transition: 55ms;
}

.page:hover {
  color: white;
  font-size: 20px;
  transition: 55ms;
}

.arrow {
  width: auto;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.hidden {
  width: 100%;
  background-color: black;
  height: 70px;
}

.container {
  width: auto;
  height: 1000px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}

.leftside {
  width: 40%;
  height: 100%;
  background-color: black;
  filter: grayscale(100%);
}

.rightside {
  width: 60%;
  height: 100%;
  background-color: white;
  justify-content: center;
  display: flex;
  align-items: center;
}

.pfp {
  width: 100%;
  height: 100%;
}

.text {
  width: 700px;
  height: 700px;
  background-color: rgb(36, 34, 34);
  border-radius: 50%;
  transition: 1.5s;
  text-align: center;
  /* font-size: 100px; */
  /* position: fixed; */
  padding: 40px;
}

/* .text:hover {
  width: 850px;
  height: 850px;
  transition: 1s;
  padding: 75px;
  font-size: 20px;
} */

.txt {
  margin-top: 100px;
  font-family: "Roboto Slab", serif;
  color: white;
  font-weight: bold;
}

p {
  color: white;
  font-family: "Koulen", cursive;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
}

.text1 {
  width: 500px;
  height: 500px;
  background-color: rgb(56, 54, 54);
  position: absolute;
  margin-left: 450px;
  margin-top: 400px;
  border-radius: 50%;
}

.text2 {
  width: 300px;
  height: 300px;
  background-color: rgb(78, 77, 77);
  position: absolute;
  margin-left: 800px;
  border-radius: 50%;
}

.footer {
  width: auto;
  height: 80px;
  background-color: white;
  color: black;
  justify-content: space-evenly;
  display: flex;
  font-size: 20px;
  flex-wrap: wrap;
  font-family: "Kanit", sans-serif;
  font-family: "Macondo", cursive;
}

.footerimg {
  width: 30px;
  height: 30px;
  margin-top: 10px;
}

.footerinfo {
  width: 300px;
  height: 70px;
  text-align: center;
}

@media only screen and (max-width: 400px) {
  .header {
    height: 100px;
    font-size: 10px;
  }

  .page1 {
    display: none;
  }

  .page {
    text-decoration: none;
    color: black;
    transition: 55ms;
  }

  /* .page:hover {
        color: white;
        font-size: 15px;
        transition: 55ms;
    } */

  .cv {
    width: 75px;
    height: 75px;
  }

  body {
    background-image: fill;
  }

  .footer {
    height: 250px;
  }

  .cont {
    margin-bottom: 75px;
    width: 100%;
    border-radius: 0;
    height: 950px;
  }

  .downloadcv {
    margin-top: 20px;
  }

  .leftside {
    width: 100%;
    height: 45%;
  }

  .rightside {
    width: 100%;
  }

  .text1 {
    border-radius: 0;
    margin-left: 0;
    margin-top: -100px;
    width: 100%;
    height: 25%;
  }

  .text {
    border-radius: 0;
    margin-bottom: auto;
    height: auto;
    width: auto;
    position: relative;
  }

  .footer {
    margin-top: 170px;
  }

  .text2 {
    border-radius: 0;
    margin-left: 0;
    margin-top: 0;
    width: 100%;
    height: 25%;
    margin-top: 260px;
  }

  .txt {
    margin-top: 0;
  }
}
